# ========================
# 🔐 SÉCURITÉ & AUTH
# ========================
# Secret key for jwt signature
SECRET_KEY=change-me-with-openssl-rand-hex-32
ACCESS_TOKEN_EXPIRE_MINUTES=in-minutes

# ========================
# 🗄️ BASE DE DONNÉES
# ========================
# Connexion PostgreSQL
BDD_NAME=bdd
BDD_USER=postgres
BDD_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://$BDD_USER:$BDD_PASSWORD@ip:5432/$BDD_NAME

# ========================
# 🏠 ENV 
# ========================
ENV=ENV

# ========================
# ☁️ STORAGE MINIO
# ========================

# URL connexion for minio
MINIO_ENDPOINT=https://exemple.minio.fr
MINIO_PUBLIC_URL=https://exemple.minio.fr
MINIO_REGION=us-east-1

# Acces key for MinIO (user/password)
MINIO_ACCESS_KEY=minioadminuser
MINIO_SECRET_KEY=minioadminpassword

# name of the bucket
MINIO_BUCKET_PP=profile-pictures
MINIO_BUCKET_USERS=user-content